
/* Find
===================*/
.find {
	margin-top: 106px;
	position: relative;
	background-color: #f5f9eb;
	&:after {
		content: '\A';
		position: absolute;
		background-color: #e2f8ff;
		top: 0; 
		bottom: 0;
		left: 0; 
		width: 50%;
		z-index: 1;
  }
	&__inner {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;

	}
	
	&__item {
		margin: 46px 0px 45px;
		display: flex;
		width: 50%;
		z-index: 2;
		&:nth-child(even){
			padding-left: 40px;
		}
	
	}
	&__img {
		width: 46%;
		display:flex;
		align-items:center;
		justify-content: center;
		padding-right: 40px;

	}
	&__description{
		width: 64%;
	}

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-size: 23.2px;
		font-weight: 600;

		margin-bottom: 33px;
	}


	&__text {
		font-size: 17.2px;
		margin-bottom: 30px;
		padding-right: 8px;
		line-height: 1.5;
		
	}
}

.btn--find{
	font-size: 14.9px;
	font-weight: 600;
	border-radius: 6px;
	padding: 15px 20px;
}

.btn--blue{
	background-color: #26a6d1;
}
